<div class="bg-loader">
  <div class="content-loader">
    <img src="assets/imgs/Heart-1s-200px.gif" class="heart-loader">
    <div class="txt-loader">
      <p>
        <b>{{ titleLoader }}</b>
      </p>
      <p>{{ txtLoader }}</p>
      
      <div class="share-links" [@shareLinks]="stateShareLinks">
        <a class="btn btn-link" (click)="openForm()">
          <i class="fas fa-link"></i>
        </a>
        <a class="btn btn-facebook" (click)="shareFb()">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a [href]="sanitize(whatsAppUrl)" class="btn btn-whatsapp btn-whatsapp-app" (click)="shareWhatsApp()" rel="nofollow">
          <i class="fab fa-whatsapp"></i>
        </a>
        <a [href]="sanitize(webWhatsAppUrl)" class="btn btn-whatsapp btn-whatsapp-web" (click)="shareWhatsApp()" rel="nofollow" target="_blank">
          <i class="fab fa-whatsapp"></i>
        </a>
        <div class="form-inline">
          <div class="input-group mb-2 mr-sm-2">
           <!--  <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fas fa-link"></i>
              </div>
            </div> -->
            <input type="text" class="form-control" value="{{ this.shortUrl }}" id="share-link">
            <button class="btn btn-primary mb-2" (click)="copyLink()"><i class="fas fa-link"></i></button>
          </div>
        </div>
      </div>
      <p>
        <a href="/" class="btn push-left btn-primary btn-loader">Voltar</a>
      </p>
    </div>
  </div>
</div>
<section class="bg-rommanel">
  <div id="cartao" class="cartao {{cartao}}">
    <div class="box">
      <div class="conteudo">
        <img src="../assets/imgs/mae-mini.png">
        <p [innerHtml]="frase"></p>
        <div class="form mt-3">
          <div class="form-group row w-100">
            <label class="col-sm-2 col-form-label">De:</label>
            <div class="col-sm-10">
              <input type="text" id="de" class="form-control" value="{{deInput}}" disabled>
            </div>
          </div>
          <div class="form-group row w-100">
            <label class="col-sm-2 col-form-label">Para:</label>
            <div class="col-sm-10">
              <input type="text" id="para" class="form-control" value="{{paraInput}}" disabled>
            </div>
          </div>
        </div>
        <p class="logo-mobile">
          <img src="assets/imgs/rommanel-black.png" class="logo-black" />
        </p>
      </div>
    </div>
    <div id="btns-func">
      <button class="btn push-left btn-primary" data-toggle="modal" data-target="#trocar-bg" id="trocar-bg-btn">Trocar Imagem</button>
      <button class="btn push-right btn-primary" data-toggle="modal" data-target="#trocar-frase" id="trocar-frase-btn">Trocar frase</button>
    </div>
  </div>
  <button class="btn btn-enviar btn-primary" (click)="enviarCartao()">Compartilhar Cartão
    <i class="fas fa-angle-double-right"></i>
  </button>
</section>

<div class="modal" tabindex="-1" role="dialog" id="trocar-bg">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Imagem de fundo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm">
            <label for="img1">
              <input type="radio" name="img" id="img1" value="0">
              <img src="assets/imgs/bg-cartao-1.jpg" />
            </label>
          </div>
          <div class="col-sm">
            <label for="img2">
              <input type="radio" name="img" id="img2" value="1">
              <img src="assets/imgs/bg-cartao-2.jpg" />
            </label>
          </div>
          <div class="col-sm">
            <label for="img3">
              <input type="radio" name="img" id="img3" value="2">
              <img src="assets/imgs/bg-cartao-3.jpg" />
            </label>
          </div>
          <div class="col-sm">
            <label for="img4">
              <input type="radio" name="img" id="img4" value="3">
              <img src="assets/imgs/bg-cartao-4.jpg" />
            </label>
          </div>
          <div class="col-sm">
            <label for="img5">
              <input type="radio" name="img" id="img5" value="4">
              <img src="assets/imgs/bg-cartao-5.jpg" />
            </label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="trocarCartao()">Salvar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" style="background:#6c757d;">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="trocar-frase">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Frase</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-check">
          <input class="form-check-input" type="radio" value="0" id="frase0" name="frase">
          <label class="form-check-label" for="frase0">
            O amor de mãe não cabe no infinito, é a mais completa forma de amor. Mãe, você é o maior presente que a vida me deu.
            <b>Feliz Dia das Mães!</b>
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" value="1" id="frase1" name="frase">
          <label class="form-check-label" for="frase1">
            Você é a minha guerreira, me deu a vida e me ensinou a lutar por ela. Obrigada por estar presente em todos os momentos dos
            meus dias.
            <b>Feliz Dia das Mães!</b>
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" value="2" id="frase2" name="frase">
          <label class="form-check-label" for="frase2">
            O seu dia é hoje, mas pode ser comemorado diariamente, afinal em todos os momentos especiais da minha vida você está presente.
            <b>Feliz Dia das Mães!</b>
          </label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="trocarFrase()">Salvar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" style="background:#6c757d;">Cancelar</button>
      </div>
    </div>
  </div>
  <div id="cartao-out"></div>
</div>