.bg-rommanel{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cartao{
    width: 50%;
    border-radius: 5px;
    overflow: hidden;
    background-position: center;
    background-size: cover; 
    position: relative;
}
.box{
    position: relative;
    right: 0;
    max-width: 400px;
    width: 100%;
    top: 0;
    min-height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    float: right;
}
.box .conteudo{
    text-align: center;
    margin: 0 auto;  
    position: relative;
    transform: rotate(3deg);
    padding: 30px 70px;
}
.box .conteudo p{
    font-size: 16px;
    font-family:'Helvetica Neue Light';
}
.box .conteudo img{
    margin-bottom: 10px;
}
.logo-black{
    margin-top: 10px;
}
.form-group input,.form-group input:focus,.form-group label,.box p, button{
    font-size: 14px;
}
.cartao button{
    font-size: 10px;
    position: absolute;
    bottom: 10px;
}
.cartao button.push-left{
    left: 10px;
}
.cartao button.push-right{
    right: 10px;
}
img{
    max-width: 100%;
}
#trocar-bg input[type=radio]{
   display: none;
}
input[type=radio]:checked + img{
    border: 2px solid #664a90;
}
section.landscape .cartao{
    width: 100%;
    overflow-y: auto;
    height: 100%;
}
section.landscape .cartao .btn{
    position: fixed;
}
section.landscape .btn-enviar{
    position: absolute;
    bottom: 10px;
    font-size: 10px;
}
.form-check{
    margin-bottom: 20px;
}
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 26px;
    cursor: pointer;
    line-height: 15px;
    display: inline-block;
    color: #4a4a4a;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 5px;
    width: 15px;
    height: 15px;
    border: 1px solid #4a4a4a;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:before {
    border: 5px solid #664a90;
}
@media screen and (max-width: 39.9375em) {
    .cartao{
        width: 100%;
        border-radius: 5px;
        overflow: auto;
        background-position: center;
        background-size: cover; 
        position: relative;
        height: 100%;
    }
    .bg-rommanel{
        background-image: none;
        background-position: center;
    }
    .bg-rommanel button.btn-enviar{
        position: absolute;
        bottom: 10px;
        font-size: 10px;
    }
    .form-group label{
        text-align: center;
    }
    .box .conteudo{
        text-align: center;
        margin: 0 auto;  
        position: relative;
        transform: rotate(2deg);
        padding: 30px 50px;
    }
}
/* .cartao{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover; 
    background-attachment: fixed;
}
.box{
    position: fixed;
    right: 0;
    max-width: 900px;
    width: 100%;
    top: 0;
    min-height: 100%;
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
}
.box .conteudo{
    padding: 50px 100px;
    text-align: center;
    max-width: 750px;
    margin: 0 auto;  
    position: relative;
    height: 100vh; 
    transform: rotate(3deg);
}
.box .conteudo p{
    font-size: 30px;
    font-family:'Helvetica Neue Light';
}
.box .conteudo img{
    margin-bottom: 30px;
}
.logo-black{
    margin-top: 30px;
}
.cartao.landscape .box{
    background-size: cover;
    overflow-x: hidden;
    overflow-y: auto;
    background-attachment: local;
}
.cartao.landscape .box .conteudo{
    padding: 50px 100px;
    transform: rotate(1deg);
}
.cartao.landscape .logo-black{
    position: relative;
    bottom: 50px;
    left: 50%;
    margin-left: -100px;
}
.cartao.landscape .box img{
    width: calc(292px/2);
}
.cartao.landscape .box .conteudo p{
    font-size: 20px;
}
.cartao.landscape .form-group input,.form-group input:focus,.form-group label,.box p, button{
    font-size: 16px;
    text-align: center;
}    
.cartao.landscape .form-group {
    width: 100% !important;
}
.cartao.landscape .form-group label{
    text-align: center;
}
.cartao.landscape .logo-mobile{
    text-align: center;
    padding: 10px;
    margin:0;
}
.cartao.landscape .box img.logo-black{
    width: 100px;
    bottom: auto;
    left: auto;
    margin-left: auto;
    margin-top: 30px;
}
@media screen and (max-width: 39.9375em) {
    .box{
        background-size: cover;
        overflow-x: hidden;
        overflow-y: auto;
        background-attachment: local;
    }
    .box .conteudo{
        padding: 50px 10px;
        transform: rotate(1deg);
    }
    .logo-black{
        position: relative;
        bottom: 50px;
        left: 50%;
        margin-left: -100px;
    }
    .box img{
        width: calc(292px/2);
    }
    .box .conteudo p{
        font-size: 20px;
    }
    .form-group input,.form-group input:focus,.form-group label,.box p, button{
        font-size: 16px;
        text-align: center;
    }    
    .form-group {
        width: 100% !important;
    }
    .form-group label{
        text-align: center;
    }
    .logo-mobile{
        text-align: center;
        padding: 10px;
        margin:0;
    }
    .box img.logo-black{
        width: 100px;
        bottom: auto;
        left: auto;
        margin-left: auto;
        margin-top: 30px;
    }
} */