html,body{
    width: 100%;
    height:100%;
}
.container-fluid{
    padding: 0 150px;
}
.home{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover; 
    background-attachment: fixed;
}
.scroll{
    height: auto;
    overflow: scroll;
    position: absolute;
    top: 0;
    left: 0; 
}
.box{
    background: rgba(255,255,255,0.85);
    border-radius: 5px;
    padding: 60px 50px;
}
.box img{
    margin-bottom: 20px;
}
.box p{
    margin-bottom: 0px;
    font-size: 22px;
    font-family:'Helvetica Neue Light';
    font-weight:normal;
}
.box p b{
    font-family:'Helvetica Neue Medium';
    font-weight:normal;
}
.form-group{
    margin: 5px auto;
}
.form-group label{
    font-family:'Helvetica Neue Medium';
    font-size: 22px;
    text-align: right;
    padding-left: 0;
    padding-right: 0;
}
.form-group input,.form-group input:focus{
    font-family: 'Helvetica Neue Medium';
    font-size: 22px;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid #000;
    border-top: none;
    border-left: none;
    border-right: none;
    position: relative;
    border-radius: 0;
    padding: 0;
    color: #000;
    line-height: normal;
    top: 5px;
}
button{
    background: #644a89;
    margin-top: 30px;
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Helvetica Neue Medium';
    border-radius: 10000px;
    padding: 5px 20px;
    font-size: 18px;
}
.video{
    background: #644a89;
    text-align: center;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    left: -20px;
    margin-top: 15%;
}
.video iframe{
    float: left;
    width: 100%;
}
.video button{
    background: #4f396f;
    margin: 10px 0;
}
.logo{
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.home.landscape{
    height: auto;
}
.home.landscape .logo-mobile{
    text-align: right;
    padding: 10px;
    margin:0;
}
.home.landscape .logo{
    position: relative;
    bottom: auto;
    right: auto;
    width: 100px;
}
.home.landscape .video{
    left: auto;
    margin-top: -10px;
    padding: 0px;
}
@media screen and (max-width: 39.9375em) {
    .home{
        height: auto;
        display: block;
    }
    .form-group input,.form-group input:focus,.form-group label,.box p, button{
        font-size: 16px;
        text-align: center;
    }
    .container-fluid{
        padding: 0 10px;
        box-sizing: content-box;
    }
    .form-group {
        width: 100% !important;
    }
    .form-group label{
        text-align: center;
    }
    .video{
        left: -10px;
        margin-top: -10px;
        padding: 0px;
    }
    .logo-mobile{
        text-align: right;
        padding: 10px;
        margin:0;
    }
    .logo{
        position: relative;
        bottom: auto;
        right: auto;
        width: 100px;
    }
    .home{
        overflow: hidden;
    }
    .box img{
        width: calc(292px/2);
    }
}